.form {
    grid-column: 2/12;
    background: var(--color-primary-600);
    border-radius: 18px;
    padding: 50px;
    margin: 120px 0 240px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: end;
}

.container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.inputs {
    width: 354px;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.placeholder {
    color: var(--color-primary-400);
    font-family: var(--font-family-secondary);
    font-size: 14px;
}

.dateInputs {
    display: flex;
    align-items: top;
    gap: 10px;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
}

.tablets {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.text {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 22px;
    color: var(--color-neutral-white);
}

.complete {
    font-family: var(--font-family-primary);
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    background: var(--color-primary-800);
    color: var(--color-neutral-white);
    transition: .2s;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    padding: 10px 60px;
}

.complete:hover {
    background: var(--color-primary-900);
}