.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
}

.placeholder {
    color: var(--color-primary-300);
    font-family: var(--font-family-secondary);
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
}

.field {
    width: stretch;
    padding: 10px;
    border-radius: 7px;
    background: var(--color-primary-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inp {
    background: none;
    outline: none;
    width: 100%;
    border: none;
    color: var(--color-neutral-white);
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}