.begin {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    margin-top: 170px;
}

.beginText {
    font-family: var(--font-family-primary);
    font-size: 50px;
    color: var(--color-neutral-black);
    font-weight: 400;
    letter-spacing: 2px;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: flex-start;
    margin: 300px 0 300px 160px;
}

.aboutUs>* {
    width: 533px;
}

.aboutUs>*:nth-child(2) {
    width: 800px;
    margin-left: 140px;
}

.aboutUs>*:nth-child(3) {
    margin-left: 0;
}

.contactUs {
    display: grid;
    grid-template-columns: var(--grid-column);
    gap: var(--grid-gap);
    max-width: var(--max-width);
    align-items: center;
}

.contactText {
    font-family: var(--font-family-secondary);
    font-weight: bold;
    font-size: 33px;
    color: var(--color-neutral-black);
    letter-spacing: 2px;
    grid-column: span 12;
    text-align: center;
}