.main {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.hat {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}

.counts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.tasks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.currentTasks {
    align-items: start;
}

.completedTasks {
    align-items: end;
}

.sectionTitle {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--color-neutral-black);
}

.cards {
    display: grid;
    max-width: var(--max-width);
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}