.description {
    background: var(--color-secondary-500);
    color: var(--color-neaytral-black);
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    height: fit-content;
}

.title {
    font-family: var(--font-family-secondary);
    font-size: 29px;
    letter-spacing: 1px;
    font-weight: 700;
}

.mainInfo {
    font-family: var(--font-family-primary);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}