@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Fustat:wght@200..800&display=swap');

:root {
    /* COLORS */
    --color-primary-100: #E3D8F3;
    --color-primary-200: #C6B1E7;
    --color-primary-300: #AA8ADB;
    --color-primary-400: #8D63CF;
    --color-primary-500: #723EC3;
    --color-primary-600: #5A309C;
    --color-primary-700: #442475;
    --color-primary-800: #2D184E;
    --color-primary-900: #170C27;

    --color-secondary-100: #FFF2CC;
    --color-secondary-200: #FFE599;
    --color-secondary-300: #FFD966;
    --color-secondary-400: #FFCC33;
    --color-secondary-500: #FFBF00;
    --color-secondary-600: #CC9900;
    --color-secondary-700: #997300;
    --color-secondary-800: #664C00;
    --color-secondary-900: #332600;

    --color-neutral-white: #FAFAFA;
    --color-neutral-black: #0A0A0A;

    /* FONTS */
    --font-family-primary: "Encode Sans Expanded", sans-serif;
    --font-family-secondary: Fustat, sans-serif;

    /* GRID */
    --grid-column: repeat(12, 86px);
    --grid-gap: 20px;
    --max-width: 1252px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    background: var(--color-neutral-white);
    position: relative;
    min-height: 100vh;
}